<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title mt-2">마케팅팀</h3>
        <div class="project-actions text-right">
            <div class="float-right mt-1">
                <a class="btn bg-purple btn-sm a-mak-new" href="javascript:void(0);">
                    <i class="fas fa-plus-square">
                    </i>
                    New
                </a>
                <a class="btn btn-success btn-sm a-mak-view" href="javascript:void(0);">
                    <i class="fas fa-folder">
                    </i>
                    View
                </a>
                <a class="btn btn-warning btn-sm a-mak-edit" href="#">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Edit
                </a>
                <a class="btn btn-danger btn-sm a-mak-delete" href="#">
                    <i class="fas fa-trash">
                    </i>
                    Delete
                </a>
            </div>

            <div class="col-xs-3 float-right mr-1">
                <!-- select -->
                <div class="form-group">
                    <select class="form-control">
                        <option>version 0.3</option>
                        <option>version 0.2</option>
                        <option>version 0.1</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="post">
            <div class="user-block">
                <img class="img-circle img-bordered-sm" src="dist/img/cat.jpg" alt="user image">
                <span class="username">
                          <a href="#">이홍보</a>
                        </span>
                <span class="description">Last Updated - 2021.07.09 18:53</span>
            </div>
            <p>
            <div class="card-header">
            </div>
            <div class="card-body">
                <table id="marketingList" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="no-sort"></th>
                        <th>#</th>
                        <th>문안Type</th>
                        <th>호수</th>
                        <th>version</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="marketCheck1" name="marketingRadio">
                                <label for="marketCheck1" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td>1</td>
                        <td>단상자</td>
                        <td>15호</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="marketCheck2" name="marketingRadio">
                                <label for="marketCheck2" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td>2</td>
                        <td>단상자</td>
                        <td>21호</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="marketCheck3" name="marketingRadio">
                                <label for="marketCheck3" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td>3</td>
                        <td>단상자</td>
                        <td>24호</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="marketCheck4" name="marketingRadio">
                                <label for="marketCheck4" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td>4</td>
                        <td>리필 파우치</td>
                        <td>15호</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="marketCheck5" name="marketingRadio">
                                <label for="marketCheck5" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td>5</td>
                        <td>리필 파우치</td>
                        <td>21호</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="marketCheck6" name="marketingRadio">
                                <label for="marketCheck6" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td>6</td>
                        <td>리필 파우치</td>
                        <td>24호</td>
                        <td>3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </p>

        </div>



        <p>

        </p>

    </div>
    <!-- /.card-body -->
</div>