<!-- Reply -->
<div class="card direct-chat direct-chat-primary ">
    <div class="card-header">
        <h3 class="card-title">Chat</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
            <div class="post">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="dist/img/user1-128x128.jpg" alt="user image">
                    <span class="username">
                          <a href="#">이지나</a>
                        </span>
                    <span class="description">Updated 2021.07.10 10:50</span>
                </div>
                <p>
                    화이팅 합시다~
                </p>
            </div>
            <div class="post ">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="dist/img/user7-128x128.jpg" alt="User Image">
                    <span class="username">
                          <a href="#">한라봉</a>
                        </span>
                    <span class="description">Updated 2021.07.10 15:50</span>
                </div>
                <p>
                    프로젝트 시작!
                </p>
            </div>
            <div class="post">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="dist/img/user1-128x128.jpg" alt="user image">
                    <span class="username">
                          <a href="#">이지나</a>
                        </span>
                    <span class="description">Updated 2021.07.10 10:50</span>
                </div>
                <p>
                    테스트 테스트
                </p>
            </div>
        </div>
        <!--/.direct-chat-messages-->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <form action="#" method="post">
            <div class="input-group">
                <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                <span class="input-group-append">
                    <button type="button" class="btn btn-primary">Send</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.card-footer-->
</div>
<!--/.direct-chat -->