
<div class="modal fade" id="comparePopup">
    {{>layout/preloader}}
    <div class="modal-dialog" style="max-width: 90%;width: auto !important;">
        <div class="modal-content">
            <div class="card-header modal-header">
                <button type="submit" class="btn btn-primary">Compare</button>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- form start -->
            <form>
                <div class="modal-body">
                    <section class="content pb-3">
                        <div class="container-fluid h-100 row">
                            <div class="card card-row card-primary mr-2" style="width:30%">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        연구소
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="card card-primary card-outline">
                                        <div class="card-header">
                                            <h5 class="card-title">[주요성분]</h5>
                                            <div class="card-tools">
                                                <a href="#" class="btn btn-tool btn-link">#5</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            티타늄디옥사이드, 에칠헥실메톡시신나메이트, 옥토크릴렌, 디에칠아미노하이드록시벤조일헥실벤조에이트, 나이아신아마이드, 아데노신
                                        </p>
                                    </div>
                                    <div class="card card-primary card-outline">
                                        <div class="card-header">
                                            <h5 class="card-title">[사용시의 주의사항]</h5>
                                            <div class="card-tools">
                                                <a href="#" class="btn btn-tool btn-link">#5</a>
                                                <a href="#" class="btn btn-tool">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            1. 화장품 사용 시 또는 사용 후 직사광선에 의하여 사용부위가 붉은 반점, 부어오름 또는 가려움증 등의 이상 증상이나 부작용이 있는 경우 전문의 등과 상담하십시오.
                                            2. 상처가 있는 부위 등에는 사용을 자제하십시오.
                                            3. 보관 및 취급 시의 주의사항
                                            1) 어린이의 손이 닿지 않는 곳에 보관하십시오.
                                            2) 직사광선을 피해서 보관하십시오.
                                            4. 용도 이외에 사용하지 마십시오.
                                            5. 사용 시 충격에 의한 파손에 주의하시기 바랍니다. (030949, 030951, 030952)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-row card-default mr-2" style="width:30%">
                                <div class="card-header bg-info">
                                    <h3 class="card-title">
                                        마케팅팀
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="card card-info card-outline">
                                        <div class="card-header">
                                            <h5 class="card-title">[사용시의 주의사항]</h5>
                                            <div class="card-tools">
                                                <a href="#" class="btn btn-tool btn-link">#2</a>
                                                <a href="#" class="btn btn-tool">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                1. 화장품 사용 시 또는 사용 후 직사광선에 의하여 사용부위가 붉은 반점, 부어오름 또는 가려움증 등의 이상 증상이나 부작용이 있는 경우 전문의 등과 상담하십시오.
                                                2. 상처가 있는 부위 등에는 사용을 자제하십시오.
                                                3. 보관 및 취급 시의 주의사항
                                                1) 어린이의 손이 닿지 않는 곳에 보관하십시오.
                                                2) 직사광선을 피해서 보관하십시오.
                                                4. 용도 이외에 사용하지 마십시오.
                                                5. 사용 시 충격에 의한 파손에 주의하시기 바랍니다. (030949, 030951, 030952)
                                            </p>
                                        </div>
                                    </div>


                                    <div class="card card-info card-tabs card-outline card-outline-tabs">
                                        <div class="card-header p-0 pt-1">
                                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">전체</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">검증완료</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Spell Check</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                                <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                                    1. 화장품 사용 시 또는 사용 후 직사광선에 의하여 사용부위가 붉은 반점, 부어오름 또는 가려움증 등의 이상 증상이나 부작용이 있는 경우 전문의 등과 상담하십시오.
                                                    2. 상처가 있는 부위 등에는 사용을 자제하십시오.
                                                    3. 보관 및 취급 시의 주의사항
                                                    1) 어린이의 손이 닿지 않는 곳에 보관하십시오.
                                                    2) 직사광선을 피해서 보관하십시오.
                                                    4. 용도 이외에 사용하지 마십시오.
                                                    5. 사용 시 충격에 의한 파손에 주의하시기 바랍니다. (030949, 030951, 030952)
                                                </div>
                                                <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                                    Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
                                                </div>
                                                <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                                    Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card card-row card-success" style="width:30%">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        디자인
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <button type="button" class="btn btn-block bg-purple col-5 mb-2 btn-xs imgDetect">IMG  Text</button>
                                    <button type="button" class="btn btn-block bg-purple col-5 mb-2 btn-xs pdfDetect">PDF  Text</button>

                                    <div class="card card-primary card-outline">
                                        <div class="card-header">
                                            <h5 class="card-title">File</h5>
                                        </div>
                                        <div class="card-body">
                                            <p id="designText">
                                                1. 화장품 사용 시 또는 사용 후 직사광선에 의하여 사용부위가 붉은 반점, 부어오름 또는 가려움증 등의 이상 증상이나 부작용이 있는 경우 전문의 등과 상담하십시오.
                                                2. 상처가 있는 부위 등에는 사용을 자제하십시오.
                                                3. 보관 및 취급 시의 주의사항
                                                1) 어린이의 손이 닿지 않는 곳에 보관하십시오.
                                                2) 직사광선을 피해서 보관하십시오.
                                                4. 용도 이외에 사용하지 마십시오.
                                                5. 사용 시 충격에 의한 파손에 주의하시기 바랍니다. (030949, 030951, 030952)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-default" data-dismiss="modal">닫기</button>
                </div>
            </form>
        </div>
    </div>
</div>

